<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/OwlCarousel2-2.3.3/dist/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="/OwlCarousel2-2.3.3/dist/assets/owl.theme.default.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.18.0/sweetalert2.all.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Eczar:400,700,800" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.0/minty/bootstrap.min.css" rel="stylesheet" integrity="sha384-b8rPE9Kj0lNck6sxWxUIJRCE3IHrqNXF74vcnXKYS/NZPi7WInVsaIKeEjIDpyNt" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
</head>


<body>
    <nav class="navbar navbar-light navbar-expand-md bg-primary justify-content-center">
        <button class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target="#collapsingNavbar1">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar1">
            <a class="navbar-brand" href="#">
                <img src="/assets/airdrop2.png" width="30" height="30" class="d-inline-block align-top" alt="">Airdrop
            </a>
            <ul class="navbar-nav text-center">
                <li class="nav-item selected mr-4">
                    <a class="nav-link font-white" href="/">Home
                    </a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" href="/inventory">Inventory</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" href="#">Deposit</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" href="#">Withdraw</a>
                </li>

                <li class="nav-item mr-4">
                    <a class="nav-link" href="#">Support</a>
                </li>
                <%if (!user){ %>
                    <li class="nav-item mr-4">
                        <a class="nav-link" href="/auth/steam">Login</a>
                    </li>

                    <% }else{ %>
                        <li class="nav-item mr-4">
                            <a>
                                <img src="<%=user.avatar%>" />
                            </a>

                        </li>
                        <li class="nav-item mr-4">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>

                        <% } %>

            </ul>
        </div>
    </nav>

    <script>
        $(".nav-item").on("click", function () {
            $(".nav-item").removeClass("selected");
            $(".nav-item > a").removeClass("font-white");
            $(this).addClass("selected");
            $(this).children("a").addClass("font-white");
        });
    </script>