<% include partials/header %>
<% include partials/secondbar %>

<div class="container ">
<img class="mx-auto d-block" src="/assets/airdrop2.png" width="500px" height="500px">
<button class="mx-auto d-block btn btn-success">Open me</button>
</div>


















<% include partials/footer %>