<%include partials/header%>


<%include partials/secondbar%>

<div class="jumbotron main-jumbo container blue-background">
<div class="container">
  <h1 class="display-4 text-center">Welcome to Airdrop!</h1>
  <p class="lead text-center">The best case site for pubg</p>
  <hr class="my-4">
  <p class="text-center">Click on a case above to begin</p>
  </div>
</div>


<% include partials/footer%>