<% include partials/header %>

    <% include partials/secondbar %>
        <h1 class="display-2 font-white text-center">
            <%=casename%>
        </h1>
        <div class="container text-center">
            <div class=ccontainer>
                <div class="main-carousel mx-auto"></div>
            </div>
                            <button class="open-button btn btn-primary btnJump">OPEN NOW</button>

            <div class="container item-showcase">
                <div class="row row1">
                    
                </div>
                <div class="row row2">

                </div>
            </div>
            <h1 class="win-text"></h1>
        </div>
        <script>
            let caseNameOBJ = '<%=casename%>';
        </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
        <script src="/scripts/helpers/opencase2.js"></script>




        <% include partials/footer %>