<% include partials/header %>
    <% include partials/secondbar %>
        <h1 class="text-center font-white display-2">CASES</h1>
        <div class="container case-container ">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="card" style="width: 22rem;">
                        <img class="card-img-top img-thumbnail" height="310px" src="/assets/basecase.png" alt="Card image cap">
                        <div class="card-body text-center">
                            <h5 class="card-title">Poor Rifle Case</h5>
                            <a href="/poorriflecase/open" class="btn btn-large btn-success">Open</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card" style="width: 22rem;">
                        <img class="card-img-top img-thumbnail" height="310px" src="/assets/basecase.png" alt="Card image cap">
                        <div class="card-body text-center">
                            <h5 class="card-title">Case2</h5>
                            <a href="#" class="btn btn-large btn-success">Open</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card" style="width: 22rem;">
                        <img class="card-img-top img-thumbnail" height="310px" src="/assets/basecase.png" alt="Card image cap">
                        <div class="card-body text-center">
                            <h5 class="card-title text-center">Case3</h5>
                            <a href="#" class="btn btn-large btn-success">Open</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <% include partials/footer %>